# Created by https://www.toptal.com/developers/gitignore/api/visualstudiocode,dotenv,react,vercel
# Edit at https://www.toptal.com/developers/gitignore?templates=visualstudiocode,dotenv,react,vercel

### dotenv ###
.env

### react ###
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

node_modules
bower_components

*.sublime*

psd
thumb
sketch

### Vercel ###
.vercel

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

# Dist
dist

# End of https://www.toptal.com/developers/gitignore/api/visualstudiocode,dotenv,react,vercel