@import "tailwindcss";

:root {
  --brand-red: #E85F5C;
  --brand-green: #17C3B2;
  --brand-yellow: #FFC857;
  --brand-selected-red: #e4a3a1;
  --brand-selected-green: #74d6cc;
  --brand-selected-yellow: #fddfa1;
  --brand-cream: #FEF9EF;
  --brand-dark: #484349;
  --brand-grey: #989399;
  --brand-bg: #cefaed;
}

html, body, #root {
  width: 100vw;
}
