@import "tailwindcss";

:root {
  --brand-red: #E85F5C;
  --brand-green: #17C3B2;
  --brand-yellow: #FFC857;
  --brand-cream: #FEF9EF;
  --brand-dark: #484349;
  --brand-bg: #cefaed;
}

html, body, #root {
  width: 100vw;
  height: 100vh;
}
